<% unless user_signed_in? %>
    <div class="hero-unit">
        <h1>Welcome to Jason + SaDella Duval's Honeymoon Site</h1>
        <p>
            We'll be documenting photos of our trip for all family members to see.  Join us along the way.
        </p>
        <p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>
    </div>
<% end %>